apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- namespace.yaml
- pushprox_etcd.yaml
- pushprox_kube-controller-manager.yaml
- pushprox_kube-scheduler.yaml
- kubevirt-sm.yaml

helmCharts:
  - name: kube-prometheus-stack
    releaseName: kube-prometheus-stack
    namespace: monitoring
    version: 81.6.9
    valuesFile: values.yaml
    includeCRDs: true
    repo: https://prometheus-community.github.io/helm-charts

