apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmCharts:
  - name: config-syncer
    releaseName: config-syncer
    namespace: kube-system
    version: v0.14.0-rc.0
    repo: https://charts.appscode.com/stable/
    valuesFile: values.yaml