apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: crossplane

resources:
  - namespace.yaml
  - rbac.yaml

helmCharts:
  - name: crossplane
    releaseName: crossplane
    namespace: crossplane
    version: 2.1.4
    repo: https://charts.crossplane.io/stable
    valuesFile: values.yaml
