apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - namespace.yaml

helmCharts:
  - name: haproxy-ingress
    releaseName: ingress-haproxy
    namespace: ingress-haproxy
    version: 0.14.8
    repo: https://haproxy-ingress.github.io/charts
    valuesFile: values.yaml
    apiVersions:
      - networking.k8s.io/v1/IngressClass
