{{ if .Values.rbac.kubevirt }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ .Values.user }}-kubevirt
  namespace: kubevirt
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: view
subjects:
- kind: ServiceAccount
  name: {{ .Values.user }}-webshell
  namespace: {{ .Values.user }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ .Values.user }}-cdi
  namespace: cdi
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: view
subjects:
- kind: ServiceAccount
  name: {{ .Values.user }}-webshell
  namespace: {{ .Values.user }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ .Values.user }}-vm-images-rb
  namespace: {{ .Values.user }}-vm-images
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: admin
subjects:
  - kind: ServiceAccount
    name: {{ .Values.user }}-webshell
    namespace: {{ .Values.user }}
{{ end }}